
.Wrap {
display:flex;
flex-flow: row nowrap;
margin-top:56px;
width:100vw;
height:calc(100vh - 56px);
overflow-y: none;


}
.Left{
    width:40%;
    text-align:center;
    overflow:auto;
overflow-x: hidden;
    
   
}

.Right{
    
    width:40%;
    text-align:center;
}
.MinterItems { /*CardDeck*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    padding: 1em;
   /* box-shadow:0px 1.5px 17px -5px #888888;*/
}



input[type=text] {
    font-size: large;
    width: 100%;
    padding: 0.3em 0em;
    margin: 0.2em 0;
    box-sizing: border-box;
    border: none;
    border-bottom: .5px solid lightgrey;
    outline: none;
}

input[type=text]:focus {
    border-bottom: 3px solid #3500FD;
}
.title{
   margin-top:2em;
}


.Border {
    margin: 5em 2em;
}


.navWrap{
   
    width:20%;    
    display: inline-block;
  


}

.Sidebar{
    height:50vh;
   border-radius:9px;
   position:fixed;
   width:20%;
  z-index:101;
   background: rgba(250, 242, 3, 0.3) !important;
   /* box-shadow:0px 1.5px 17px -5px #888888;*/
    clip-path: polygon(0% 0%, 82% 0, 100% 14%, 100% 100%, 17% 100%, 0% 86%);
    overflow:auto;
    
  
}
.BtnLayout{
    text-align:center;

   
    
}
.MintBtn{
    margin:2em;
    
}
.AddBtn{
    margin:2em;
}
/*  <div className={classes.BtnLayout}>
                        <button className={classes.AddBtn} onClick={this._handleAddNifty}> + </button>
                    </div>
                    <div className={classes.BtnLayout}>
                        
                    </div>*/