.NavItems {
    
    margin-top:1em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    
    
   
   
    
}
@media (max-width:500px){

    .NavItems{
       flex-flow: column;
    }
}

