/* .NavItem {
    margin: 2em;
    box-sizing: border-box;
    display: block;
    width: 100%;
} */

.NavItem {
   margin:0;
   box-sizing: border-box;
   display:flex;
   height:100%;
   padding:1em;
   align-items: center;
}

.NavItem a {
    font-size: x-large;
    color: #000000;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color:#007bff;
    text-decoration: none;
}
 
@media (max-width: 500px) {
   
   
    .NavItem a {
        font-size: small;
        color: #000000;
        text-decoration: none;
        width: 100%;
        padding:0;
        box-sizing: border-box;
        display: block;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        
        border-bottom: 4px solid #007bff;
        color: black;
    }
} 