.Card {
    border: 1px solid #000000;
    /* background-color: #FCFAF8; */
    text-align: center;
    margin: 0.3em 0.3em 0.3em;
    padding: 12px;
    max-width: 12em;
    font-size: large;
    flex: 1;
    display: inline-block;
    /* min-height: 200px; */
}

.card-img-top {
    width: 10%;
    height: 15vw;
    object-fit: cover;
}